<section class="view-comments">
<h3 class="comments-title"> Comments</h3>
    <section class="commenter">
        {{#each comments as |comment|}}
        <section class="commenter-info">
            <p><strong>{{comment.user.username}}</strong></p>
            <p><strong> Posted: </strong>{{format_date comment.date_created}} </p>
        </section>
        <p class="comment-content">{{comment.comment}}</p>
        {{/each}}
        </section>
    </section>

</section>