<section class="display-blogpost">
    <section class="title">
        <h2><a href="/blogpost/{{id}}" class="blogpost-title"> {{title}} </a></h2>
        <section class="edit-delete">
            <button type="button" class="edit-btn" onclick="window.location.href='/edit/{{id}}'"> Edit </button>
            <button type="button" class="delete-btn" data-id="{{id}}"> Delete </button>
        </section>
    </section>
</section>

<script src="./js/delete.js"></script>