<section >
{{> blogpost-details blogPost}}
<section class="display-comments">
{{> comment-details blogPost}}

</section>
<form class="comment-form">
    <textarea class="comment-text" id="add-comment"></textarea>
    <button type="button" class="add-comment-btn"> Add Comment </button>
</section>
</form>

