<section>
{{> blogpost-details blogPost}}
<section class="display-comments">
    <h4> Comments </h4>
    <ul>
        {{#each comment}}
            <li>
                <strong>{{username}}</strong>: {{comment}}
            </li>
        {{/each}}
    </ul>
</section>
<section class="comment-section">
    <textarea class="comment-text"></textarea>
    <button type="button" class="add-comment-btn"> Add Comment </button>
</section>
</section>
