<section class="create-post">
    <form class="create-form">
        <h3> Create A Post </h3>
        <h4> Title </h4>
        <input type="text" class="title-text" id="add-title" placeholder="Title"> 
        <h4> Description </h4>
        <textarea class="post-text" id="add-post"></textarea>
        <button type="button" class="add-post-btn"> Add Post </button>
    </form>
</section>

<script src="./js/create.js"></script>