<section class="create-post">
    <form class="create-form">
        <h3> Edit Post </h3>
        <h4> Title </h4>
        <input type="text" class="title-text" id="add-title" placeholder="Title"> 
        <h4> Description </h4>
        <textarea class="post-text" id="add-post"></textarea>
        <button type="submit" class="add-post-btn"> Update Post </button>
    </form>
</section>

<script src="/js/edit.js"></script>