<section class="login">
    <form class="login-form">
        <h3>Login</h3>
        <section class="username">
            <h4>Username</h4>
            <input type="username" class="username-text" id="username-text" placeholder="Username">
        </section>
        
        <section class="password">
            <h4>Password</h4>
            <input type="password" class="password-text" id="password-text" placeholder="Password">
        </section>
        
        <section class="account-management">
            <section class="account-links">
                <a href="/signup" class="signup"> Create Account</a>
            </section>
            <button class="login-button"> Login </button>
        </section>
    </form>
</section>

<script src="./js/login.js"></script>