<section class="signup">
    <form class="signup-form">
        <h3>Sign Up</h3>
        <section class="username">
            <h4> Create a username </h4>
            <input type="username" class="username-text" id="username-signup" placeholder="Username">
        </section>
        
        <section class="email">
            <h4> Enter your email </h4>
            <input type="email" class="email-text" id="email-signup" placeholder="Email">
        </section>

        <section class="password">
            <h4> Create a password </h4>
            <input type="password" class="password-text" id="password-signup" placeholder="Password">
        </section>
        
        <section class="account-management">
            <button class="signup-button"> Create Account </button>
        </section>
    </form>
</section>

<script src="./js/signup.js"></script>