<section class="login">
    <form class="login-form">
        <h3>Sign Up</h3>
        <section class="username">
            <h4> Create a username </h4>
            <input type="username" class="username-text" placeholder="Username">
        </section>
        
        <section class="email">
            <h4> Enter your email </h4>
            <input type="email" class="email-text" placeholder="Email">
        </section>

        <section class="password">
            <h4> Create a password </h4>
            <input type="password" class="password-text" placeholder="Password">
        </section>
        
        <section class="account-management">
            <button class="login-button"> Create Account </button>
        </section>
    </form>
</section>