:root {
    --primary: #E7D2CC;
    --secondary: #868B8E;
    --tertiary: #B9B7BD;
    --quartinary: #EEEDE7;
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

.home {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    font-size: 70px;
    color: var(--secondary);
}

.header-btns {
    display: flex;
}

ul {
    display: inline-flex;
}

a {
    color: var(--tertiary);
}

.links {
    font-weight: bold;
    font-size: 34px;
    margin: 30px 10px 30px 10px;
}

.login-btn, .logout-btn {
    background-color: var(--primary);
    border: none;
    padding: 10px;
    color: var(--tertiary);
    font-weight: bold;
    font-size: 34px;
}

.login-btn:hover, a:hover, .logout-btn:hover, .login-button:hover, .signup-button:hover, .edit-btn:hover, .delete-btn:hover, .new-post-btn:hover, .add-post-btn:hover, .add-comment-btn:hover {
    cursor: pointer;
    color: var(--secondary);
}

body {
    background-color: var(--quartinary);
}

/* Blogpost CSS */

.display-blogpost {
    display: grid;
    border: solid;
    border-color: var(--secondary);
    margin: 20px;;
}

.title {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 10px;
}

.content {
    font-size: 24px;
}

.blogpost-title {
    font-family: "Press Start 2P", system-ui;
    font-size: 28px;
    color: black;
}

.hide {
    display: none;
}

.blogpost-btns {
    display: flex;
    justify-content: center;
}

.edit-btn, .delete-btn, .new-post-btn, .add-post-btn, .add-comment-btn {
    background-color: var(--primary);
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 10px;
    color: var(--tertiary);
    font-weight: bold;
    font-size: 24px;
    box-shadow: 0px 5px 5px var(--secondary);
}

.new-post {
    display: flex;
    justify-content: center;
    align-items: bottom;
}

textarea {
    resize: none;
}

.content {
    font-size: 24px;
}

.comment-section {
    display: grid;
}

.comment-text {
    height: 100px;
    margin: 10px 20px 10px 20px;
    font-size: 20px;
}

/* Login and Sign Up CSS */

.login, .signup {
    display: grid;
    justify-content: center;
}

.login-form, .signup-form, .create-form {
    border-style: solid;
    border-width: 10px;
    border-color: var(--secondary);
    border-radius: 20px;
    background-color: var(--quartinary);
    padding: 30px;
    margin: 50px;
}

h3 {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    font-size: 64px;
    color: var(--secondary);
    display: flex;
    justify-content: center;
    
}

h4 {
    font-size: 32px;
    color: var(--secondary);
    padding-bottom: 5px;
}

.username, .email, .password, .account-management {
    padding: 20px;
}

.username-text, .email-text, .password-text {
    height: 40px;
    width: 300px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

.account-links {
    display: flex;
    justify-content: space-between;
}

.reset, .signup {
    color: black;
}

.reset:hover, .signup:hover {
    color: var(--secondary);
}

.account-management {
    display: grid;
}

.username, .password, .account-management {
    padding: 20px;
}

.username-text, .password-text {
    height: 40px;
    width: 300px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    opacity: 0.5;
}

.login-button, .signup-button {
    height: 50px;
    background-color: var(--primary);
    color: var(--tertiary);
    font-size: 26px;
    font-weight: bold;
    border: none;
    box-shadow: 0px 5px 5px var(--secondary);
    border-radius: 20px;
    margin-top: 20px;
}

/* Dashboard CSS */

.create-form {
    display: grid;
    border-style: solid;
    border-width: 10px;
    border-color: var(--secondary);
    border-radius: 20px;
    background-color: var(--quartinary);
    padding: 30px;
    margin: 50px;
}

.title-text {
    height: 40px;
    font-size: 24px;
    color: black;
    margin: 0 0 10px 0;
}

.post-text {
    height: 250px;
    margin: 10px 0 10px 0;
    font-size: 20px;;
}